{
  "presets": [ "env" ],
  "plugins": [],
  "env": {
    "development": {
    },
    "production": {
      "minified": true,
      "compact": true,
      "plugins": [
        "remove-comments",
        "transform-object-assign"
      ]
    }
  }
}